html, body{
    height:100%;
    color: black;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    background-color: whitesmoke;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}



                /* NAV-BAR */
                /* NAV-BAR */
                /* NAV-BAR */

.navbar{
    width: 100%;
    position: fixed;
    z-index: 4;
    padding: 5px 20px 0px 20px;
    background-color: white;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 0px;
}

#logo1{
    color: cornflowerblue;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}
    #logo1:hover{
        color: royalblue;
    }

#addBTN1{
    color: white;
    background-color: cornflowerblue;
    border:none;
    font-size:1em;
    padding: 5px 20px;
    margin-right: 20px;
    margin-top:7px;
    transition-duration: 0.3s;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}
    #addBTN1:hover {
        background-color: royalblue;
        transition-duration: 0.3s;
    }

    .dropdown-menu a{
        font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    }

.navIcons:hover{
    color: royalblue;
}




                /* MAIN */
                /* MAIN */
                /* MAIN */

.main{
    background-color: whitesmoke;
    width:100%;
    height:100%;
}

.dashboard{
    width: 15%;
    height: 100%;
    margin-top: 55px;
    padding-top:10px;
    background-color: white;
    border-right: 1px solid lightgrey;
    display: block;
    float: left;
    position: fixed;
    z-index: 2;
}

    .dashboard a{
        color: lightslategrey;
        border:none;
        text-align: left;
        padding-left:40px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 10px;
        font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
        font-weight: 500;
        font-size: 0.9em;
    }

.wall{
    width:85%;
    float: right;
    display: block;
    height: 100%;
    background-color: whitesmoke;
}

.titleContainer {
    width: 100%;
    position: fixed;
    z-index: 3;
    margin-top: 55px;
    background-color: white;
    padding: 35px 50px 20px 50px;
    border-bottom: 1px solid lightgrey;
    color: slategrey;
    font-size: 1.5em;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

.listContainer{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: left;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 20px;
    margin-top: 145px;
    background-color: whitesmoke;
}

.lijst{
    display: block;
    text-decoration: none;
    width: 300px;
    text-align: center;
    border-radius: 4px;
    padding: 110px 10px 20px 10px;
    border: 1px solid lightgray;
    margin: 0px 2% 20px 2%;
    height: 250px;
    align-content: flex-end;
    background-color: white;
    transition-duration: 0.3s;
}

.lijst:hover{
    border: 1px solid cornflowerblue;
}

.lijst a{
    text-align: center;
    color: cornflowerblue;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}
    .lijst a:hover{
        cursor: pointer;
    }

.btnDeleteList{
    opacity: 0.4;
    width: 20px;
    height: 20px;
    display: block;
    margin: 80px 10px 10px 0;
    float: right;
    background-image: url("../images/trashBlue.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.15s;
}

    .btnDeleteList:hover{
        opacity: 0.8;
        transition-duration: 0.15s;
    }




                /* TASKS */
                /* TASKS */
                /* TASKS */

.taskContainer{
    padding: 30px;
    width: 100%;
    height: 3000px;
    margin-top: 135px;
    display: block;
}

.task{
    text-decoration: none;
    width: 100%;
    margin: 0px auto 10px auto;
    padding-left: 50px;
    background-color: white;
    border-radius:4px;
    border: 1px solid lightgrey;
}

    .task:hover{
        border: 1px solid cornflowerblue;
    }

#taskTitle{
    text-decoration: none;
    color: cornflowerblue;
    padding-top: 40px;
    font-size: 2em;
    font-weight: 200;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

#taskDescriptions{
    color: dimgrey;
    text-decoration: none;
    margin-top: -7px;
    font-size: 1em;
    font-weight: 100;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

#taskDeadline{
    float: right;
    color: lightgrey;
    margin-top: -40px;
    padding-right: 150px;
    font-size: 1.1em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

#daysRemaining{
    color: cornflowerblue;
    font-size: 3.4em;
    font-weight: 500;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    float: right;
    margin-top: -75px;
    text-align: center;
    width:150px;
}

#daysText{
    color: darkgrey;
    font-size: 0.9em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    float: right;
    margin-top: -15px;
    text-align: center;
    width:150px;

}

.btnDeleteTask{
    opacity: 0.2;
    width: 15px;
    height: 15px;
    display: block;
    margin: -15px 10px 10px 180px;
    background-image: url("../images/trashBlue.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.15s;
}
    .btnDeleteTask:hover {
        opacity: 0.8;
        cursor: pointer;
        transition-duration: 0.15s;
    }



                /* TASKDETAIL */
                /* TASKDETAIL */
                /* TASKDETAIL */

.taskDetail{
    margin: 65px 1% 100px 1%;
    width: 98%;
    height: auto;
    border-radius:4px;
    border:1px solid lightgrey;
    background-color: white;
    padding: 80px 100px;
}

.taskDetailTitle{
    color: cornflowerblue;
    font-size: 3em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

.taskDeadline{
    color: dimgrey;
    float: right;
    margin-top: -45px;
    font-size: 1.3em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

number{
    padding-left: 10px;
    font-size: 2em;
    font-weight: 500;
}

.line{
    width: 100%;
    height: 2px;
    border-radius: 2px;
    margin: 20px auto;
    opacity: 0.4;
    background-color: lightgray;
}
.line2{
    width: 100%;
    height: 1px;
    border-radius: 2px;
    margin: 80px auto;
    opacity: 0.4;
    background-color: lightgrey;
}
inf{
    margin-right:40px;
    padding-left: 20px;
    color: lightgrey;
    font-size: 0.8em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}
inf2{
    float: right;
    padding-right:20px;
    color: lightgrey;
    font-size: 0.8em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}
info{
    line-height: 1.3em;
    margin-top:15px;
    color: dimgrey;
    font-size: 1.1em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}





                /* COMMENTS */
                /* COMMENTS */
                /* COMMENTS */

.commentsForm{
    width: 500px;
    margin: 80px auto 0 auto;
}

.commentBox{
    background-color: white;
    border: 0.5px solid lightgrey;
    margin-bottom: 10px;
    padding: 15px 40px;
    border-radius: 3px;
}

.commentUsername{
    color: cornflowerblue;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: 700;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

.commentText{
    color: dimgrey;
    font-size: 1em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

.inputBox{
    height: 40px;
    width: 420px;
    border-radius: 3px;
    padding-left: 20px;
    border: 1px solid lightgray;
}

.sendBTN{
    background-color: cornflowerblue;
    padding: 11px 20px;
    margin-top: 1px;
    color: white;
    border-radius: 3px;
    border: 1px solid cornflowerblue;
    font-size: 1em;
    transition-duration: 0.3s;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;

}

.sendBTN:hover{
    background-color: royalblue;
    transition-duration: 0.3s;
}

#listupdates{
    margin-top:20px;
}






                /* REGISTER & LOGIN */
                /* REGISTER & LOGIN */
                /* REGISTER & LOGIN */
                /* REGISTER & LOGIN */

.form{
    width: 500px;
    height: 620px;
    margin: 30px auto;
    background-color: white;
    border-radius: 15px;
    border: 2px solid lightgrey;
}

#inlogForm{
    margin: 50px auto;
    height: 420px;

}

.form h1{
    font-size: 2em;
    font-weight: 500;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    color: cornflowerblue;
    padding-top: 60px;
    margin-bottom: 40px;
}

.labelname{
    width: 100%;
    padding-left: 20%;
    clear: both;
    margin-bottom: 5px;
    font-size: 0.9em;
    font-weight: 500;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;

}

.input{
    clear: both;
    width: 60%;
    margin: 0 20%;
    margin-bottom: 15px;
    padding: 7.5px 0px;
    border-radius: 2px;
    border: 1px solid lightgrey;
    padding-left: 15px;
    font-size: 1em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;

}

.registerBTN{
    background-color: cornflowerblue;
    width: 60%;
    padding: 15px 20px;
    border-radius: 3px;
    border: 1px solid cornflowerblue;
    color: white;
    margin: 2.5% 20%;
    transition-duration: 0.2s;
    font-size: 1em;
    font-weight: 500;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

.registerBTN:hover{
    background-color: royalblue;
    transition-duration: 0.2s;
}

.alreadyP{
    text-align: center;
    font-size: 0.9em;
    font-weight: 300;
    color: slategrey;
    margin-top: 10px;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;

}

.alreadyP a{
    color: cornflowerblue;
}
.alreadyP a:hover{
    color: royalblue;
}






                /* ADD LIST & TASK STYLE */
                /* ADD LIST & TASK STYLE */
                /* ADD LIST & TASK STYLE */
                /* ADD LIST & TASK STYLE */

.listForm, .taskForm{
    width: 40%;
    position: absolute;
    background-color: white;
    clear: both;
    margin: 100px 30% 100px 30%;
    text-align: center;
    padding: 20px 50px;
    border-radius: 15px;
    border: 2px solid lightgrey;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;

}

.listForm{
    padding-top: 50px;
    height: 350px;
}

.taskForm{
    height: 700px;
}

.listNameInput{
    padding-top: 30px;
    font-size: 1.1em;
    font-weight: 500;
    color: lightslategrey;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;

}

.createListBTN, .createTaskBTN{
    background-color: cornflowerblue;
    color: white;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin-top: -30px;
}

.createListBTN:hover{
    color: white;
    background-color: royalblue;
}

.TaskName{
    margin-top:50px;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.2em;
    color: dimgrey;
    font-weight: 300;
}

#date{
    margin-top: -25px;
    width: 35%;
    float: left;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

#hours{
    width: 80px;
    float: right;
    margin-top: -56px;
    padding: 10px 0 10px 10px;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;

}

.fileTitle{
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    color: dimgrey;
    font-weight: 300;

}

.chooseList{
    width: 35%;
    float: left;
    margin-left: 50px;
}
.chooseCourse{
    width: 35%;
    float: right;
    margin-right: 60px;
    margin-top: -51px;
}

.info{
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    color: dimgrey;
    font-weight: 300;
    margin-bottom: 10px;
}













