html, body{
    height:100%;
    color: black;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    background-color: whitesmoke;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}



                /* NAV-BAR */
                /* NAV-BAR */
                /* NAV-BAR */

.navbar{
    width: 100%;
    position: fixed;
    z-index: 4;
    padding: 5px 20px 0px 20px;
    background-color: white;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 0px;
}

#logo1{
    color: cornflowerblue;
    font-family: "AtlasGroteskBold", "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}
    #logo1:hover{
        color: royalblue;
    }

#addBTN1{
    color: white;
    background-color: cornflowerblue;
    border:none;
    font-size:1em;
    padding: 5px 20px;
    margin-right: 20px;
    margin-top:7px;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}
    #addBTN1:hover {
        background-color: royalblue;
    }

    .dropdown-menu a{
        font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    }

.navIcons:hover{
    color: royalblue;
}




                /* MAIN */
                /* MAIN */
                /* MAIN */

.main{
    background-color: whitesmoke;
    width:100%;
    height:100%;
}

.dashboard{
    width: 15%;
    height: 100%;
    margin-top: 55px;
    padding-top:10px;
    background-color: white;
    border-right: 1px solid lightgrey;
    display: block;
    float: left;
    position: fixed;
    z-index: 2;
}

    .dashboard a{
        color: lightslategrey;
        border:none;
        text-align: left;
        padding-left:40px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 10px;
        font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
        font-weight: 500;
        font-size: 0.9em;
    }

.wall{
    width:85%;
    float: right;
    display: block;
    height: 100%;
    background-color: whitesmoke;
}

.titleContainer {
    width: 100%;
    position: fixed;
    z-index: 3;
    margin-top: 55px;
    background-color: white;
    padding: 35px 50px 20px 50px;
    border-bottom: 1px solid lightgrey;
    color: slategrey;
    font-size: 1.5em;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

.listContainer{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: left;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 20px;
    margin-top: 145px;
    background-color: whitesmoke;
}

.lijst{
    display: block;
    text-decoration: none;
    width: 300px;
    text-align: center;
    border-radius: 4px;
    padding: 110px 10px 20px 10px;
    border: 1px solid lightgray;
    margin: 0px 2% 20px 2%;
    height: 250px;
    align-content: flex-end;
    background-color: white;
    transition-duration: 0.3s;
}

.lijst a{
    text-align: center;
    color: cornflowerblue;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}
    .lijst a:hover{
        cursor: pointer;
    }

.btnDeleteList{
    opacity: 0.4;
    width: 20px;
    height: 20px;
    display: block;
    margin: 80px 10px 10px 0;
    float: right;
    background-image: url("../images/trashBlue.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.15s;
}

    .btnDeleteList:hover{
        opacity: 0.8;
        transition-duration: 0.15s;
    }




                /* TASKS */
                /* TASKS */
                /* TASKS */

.taskContainer{
    padding: 30px;
    width: 100%;
    height: 3000px;
    margin-top: 135px;
    display: block;
}

.task{
    text-decoration: none;
    width: 100%;
    margin: 0px auto 10px auto;
    padding-left: 50px;
    background-color: white;
    border-radius:4px;
    border: 1px solid lightgrey;
}

#taskTitle{
    text-decoration: none;
    color: cornflowerblue;
    padding-top: 35px;
    font-size: 2em;
    font-weight: 200;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

#taskDescriptions{
    color: dimgrey;
    text-decoration: none;
    margin-top: -7px;
    font-size: 1em;
    font-weight: 100;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

#taskDeadline{
    float: right;
    color: darkgrey;
    margin-top: -30px;
    padding-right: 40px;
    font-size: 1.1em;
    font-weight: 500;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

.btnDeleteTask{
    opacity: 0.2;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0px 10px 10px 0;
    float: right;
    background-image: url("../images/trashBlue.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.15s;
}
    .btnDeleteTask:hover {
        opacity: 0.8;
        cursor: pointer;
        transition-duration: 0.15s;
    }


                /* TASKDETAIL */
                /* TASKDETAIL */
                /* TASKDETAIL */

.taskDetail{
    margin: 65px 1% 100px 1%;
    width: 98%;
    height: auto;
    border-radius:4px;
    border:1px solid lightgrey;
    background-color: white;
    padding: 80px 100px;
}

.taskDetailTitle{
    color: cornflowerblue;
    font-size: 3em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

.taskDeadline{
    color: dimgrey;
    float: right;
    margin-top: -45px;
    font-size: 1.3em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

number{
    padding-left: 10px;
    font-size: 2em;
    font-weight: 500;
}

.line{
    width: 100%;
    height: 2px;
    border-radius: 2px;
    margin: 20px auto;
    opacity: 0.4;
    background-color: darkgrey;
}

inf{
    margin-right:40px;
    padding-left: 20px;
    color: lightgrey;
    font-size: 0.8em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}
inf2{
    float: right;
    padding-right:20px;
    color: lightgrey;
    font-size: 0.8em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}
info{
    line-height: 1.3em;
    margin-top:15px;
    color: dimgrey;
    font-size: 1.1em;
    font-weight: 300;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}





                /* COMMENTS */
                /* COMMENTS */
                /* COMMENTS */

.commentSection{
    margin-top:100px;
}












